<p>table works!</p>
<button type="button" class="btn btn-primary" (click)="loadTableEvent($event)">
  Load data
</button>
@if (viewModel$ | async; as viewModel) {
  <div class="row">
    <div class="col-4">
      @switch (viewModel.filteredAndSortedData.state) {
        @case ("loading") {
          <div class="alert alert-info">Loading</div>
        }
        @case ("success") {
          <div class="alert alert-success">Success</div>
        }
      }
    </div>
  </div>
  <form [formGroup]="filterForm">
    <div class="row pt-5">
      <div class="col-12 p-5">
        @if (viewModel.filteredAndSortedData.state === "success") {
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="centerTableCell">
                  <input
                    type="checkbox"
                    name="selectAllCheckBox"
                    id="selectAllCheckBox"
                    [checked]="viewModel.selectAllCheckBoxState"
                  />
                </th>
                <th scope="col">
                  <div class="d-flex w-100 h-100 align-items-center">
                    <div class="iconContainer d-flex flex-column">
                      <div
                        class="iconItem p-2 sortUpArrow fw-bold"
                        (click)="
                          sortTableEvent({
                            columnKey: 'name',
                            direction: 'ASC',
                            sortType: 'string',
                          })
                        "
                      >
                        ^
                      </div>
                      <div
                        class="iconItem mt-2 p-2 sortDownArrow fw-bold"
                        (click)="
                          sortTableEvent({
                            columnKey: 'name',
                            direction: 'DESC',
                            sortType: 'string',
                          })
                        "
                      >
                        ^
                      </div>
                    </div>
                    <div class="px-3">Name</div>
                  </div>
                </th>
                <th scope="col">
                  <div class="d-flex w-100 h-100 align-items-center">
                    <div class="iconContainer d-flex flex-column">
                      <div
                        class="iconItem p-2 sortUpArrow fw-bold"
                        (click)="
                          sortTableEvent({
                            columnKey: 'age',
                            direction: 'ASC',
                            sortType: 'number',
                          })
                        "
                      >
                        ^
                      </div>
                      <div
                        class="iconItem mt-2 p-2 sortDownArrow fw-bold"
                        (click)="
                          sortTableEvent({
                            columnKey: 'age',
                            direction: 'DESC',
                            sortType: 'number',
                          })
                        "
                      >
                        ^
                      </div>
                    </div>
                    <div class="px-3">Age</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>
                  <input
                    type="text"
                    name="filterName"
                    id="filterName"
                    formControlName="name"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="filterAge"
                    id="filterAge"
                    formControlName="age"
                  />
                </td>
              </tr>
              @for (
                item of viewModel.filteredAndSortedData.data;
                track $index
              ) {
                <tr>
                  <td class="centerTableCell">
                    <input
                      type="checkbox"
                      [checked]="item.checked ? item.checked : false"
                      (click)="toggleCheckRow(item.id, $event.target!)"
                    />
                  </td>

                  <td>{{ item.name }}</td>
                  <td>{{ item.age }}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else if (viewModel.filteredAndSortedData.state === "failure") {
          Error while loading data
        }
      </div>
    </div>
  </form>
}
